* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', cursive;
    font-size: 18px;
    background-image: url(../imgs/main.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "hdr hdr"
    "aside main"
}

header {
    grid-area: hdr;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Monoton', sans-serif;
    font-size: 40px;
}

main {
    grid-area: main;
    flex-direction: column;
}

main h3{
    text-align: center;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    margin: 12% 5% 0% 25%;
    cursor: pointer;
}

li:hover {
    color: white;
}

aside {
    grid-area: aside;
    display: grid;
    font-family: 'Voltaire', sans-serif;
    font-size: 24px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "div1 div1"
    "div3 div4";
}

button {
    width: 100px;
    height: 50px;
    display: none;
    text-align: center;
    margin: 100px auto;
}

#songInfo {
    grid-area: div1;
    font-size: 30px;
}

#result {
    gird-area: div3;
}

#score {
    grid-area: div4;
}

#songInfo, #result, #score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
